.home-family ul li {
  margin: auto;
  display: inline-block;
}
.home-family ul li a {
  display: block;
  margin: auto;
}
.home-family > ul > li > a > img {
  width: 75%;
  height: 75%;
  display: block;
}
.home-family > ul > li > a > img:hover {
  transform: scale(1.1);
}
.home-family > ul > li:nth-child(1) > a > img {
  padding-top: 10%;
}
.home-family ul li:nth-child(odd) a img {
  margin-left: auto;
}
.home-family ul li:nth-child(even) a img {
  margin-right: auto;
}
