.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.caaa {
  margin-bottom: 10%;
}

.product-block p.price-container span,
.product-content p.price-container span,
.product-entry p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
  color: #21c2f8;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 20px;
}

.description-tabs {
  padding: 30px 0 5px !important;
}

.description-tabs .tab-content {
  padding: 10px 0;
}
.name {
  margin-top: 0;
  margin-bottom: 0;
}

.name small {
  display: block;
}

.name a {
  margin-left: 0;
}

.price-container {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
}

.price-container small {
  font-size: 12px;
}

.fa-2x {
  font-size: 16px !important;
}

.fa-2x > h5 {
  font-size: 12px;
  margin: 0;
}

.fa-2x + a,
.fa-2x + a + a {
  font-size: 13px;
}

.profile-message ul {
  list-style: none;
}

.certified {
  margin-top: 10px;
}

.certified ul {
  padding-left: 0;
}

.certified ul li:not(first-child) {
  margin-left: -3px;
}

.certified ul li {
  display: inline-block;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 13px 19px;
}

.certified ul li:first-child {
  border-right: none;
}

.certified ul li a {
  text-align: left;
  font-size: 12px;
  color: #2d2d2d;
  line-height: 16px;
  text-decoration: none;
}

.certified ul li a span {
  display: block;
  color: #2d2d2d;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}
.myadd:hover {
  background-color: #2d2d2d;
  color: white !important;
}
@media only screen and (min-width: 1024px) {
  .product-content div[class*="col-md-4"] {
    padding-right: 0;
  }
  .product-content div[class*="col-md-8"] {
    padding: 0 13px 0 0;
  }
  .product-wrap div[class*="col-md-5"] {
    padding-right: 0;
  }
  .product-wrap div[class*="col-md-7"] {
    padding: 0 13px 0 0;
  }
  .product-content .product-image {
    border-right: 1px solid #dfe5e9;
  }
  .product-content .product-info {
    position: relative;
  }
}
