.navbar-fam ul {
  list-style-type: none;
  background-color: #2d2d2d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
#icon {
  margin-left: 1%;
  text-align: center;
}
#icon a {
  margin-left: 12%;
  width: 50px;
  height: 50px;
}
#icon a:hover {
  background-color: #2d2d2d;
  color: #fff;
}
.navbar-fam li {
  display: inline-block;
  float: none;
}
#logo {
  background-color: #2d2d2d;
}
.navbar-fam li a {
  width: 100px;
  height: 50px;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-fam li img {
  width: 125%;
  height: 175%;
}

.navbar-fam ul li a:hover {
  background-color: rgb(255, 255, 255);
  color: #2d2d2d;
}
.navbar-fam input {
  border-radius: 15px;
  margin-left: 3%;
  margin-right: 3%;
  width: 600px;
  text-align: center;
  color: lightslategray;
}
