h3.h3 {
  text-align: center;
  margin: 1em;
  text-transform: capitalize;
  font-size: 1.7em;
}
.container {
  margin-top: 100px;
}
/********************* Shopping Demo-5 **********************/
.product-image5 .pic-1,
.product-image5 .pic-2 {
  backface-visibility: hidden;
  transition: all 0.5s ease 0s;
}
.product-grid5 {
  font-family: Poppins, sans-serif;
  position: relative;
}
.product-grid5 .product-image5 {
  overflow: hidden;
  position: relative;
}
.product-grid5 .product-image5 a {
  display: block;
}
.product-grid5 .product-image5 img {
  width: 100%;
  height: auto;
}
.product-image5 .pic-1 {
  opacity: 1;
}
.product-grid5:hover .product-image5 .pic-1 {
  opacity: 0;
}
.product-image5 .pic-2 {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.product-grid5:hover .product-image5 .pic-2 {
  opacity: 1;
}
/****action buttons****/
/****action button 1****/
.product-grid5 .social {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}
.product-grid5 .social li {
  display: block;
  margin: 0 0 10px;
  transition: all 0.5s;
}
/****action button 2****/
.product-grid5 .social li:nth-child(2) {
  opacity: 0;
  transform: translateY(-50px);
}
.product-grid5:hover .social li:nth-child(2) {
  opacity: 1;
  transform: translateY(0);
}
/****action button 3****/
.product-grid5 .social li:nth-child(3) {
  opacity: 0;
  transform: translateY(-50px);
}
.product-grid5:hover .social li:nth-child(3) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}
.product-grid5 .social li a {
  color: #888;
  background: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: block;
  transition: 0.5s ease 0s;
}
.product-grid5 .social li a:hover {
  color: #fff;
  background: #000000;
  opacity: 0.5;
}
/****select button****/
.product-grid5 .select-options {
  color: #777;
  background-color: #fff;
  opacity: 1;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 5px;
  margin: 0 auto;
  opacity: 0;
  display: block;
  position: absolute;
  width: 92%;
  left: 0;
  bottom: -100px;
  right: 0;
  transition: 0.5s ease 0s;
}
.product-grid5:hover .select-options:hover {
  color: #fff;
  background-color: #000000;
  opacity: 0.5;
  text-decoration: none;
}
.product-grid5:hover .select-options {
  opacity: 1;
  bottom: 10px;
}
/**/
.product-grid5 .product-content {
  padding: 20px 10px;
}
.product-grid5 .title {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 10px;
  transition: all 0.3s ease 0s;
}
.product-grid5 .title a {
  color: #222;
}
.product-grid5 .title a:hover {
  color: #000000;
}
.product-grid5 .price {
  color: #222;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
}
@media only screen and (max-width: 990px) {
  .product-grid5 {
    margin-bottom: 30px;
  }
}
